		/* The navigation bar */
		.navbar {
			overflow: hidden;
			background-color: white;
			position: fixed; /* Set the navbar to fixed position */
			top: 0; /* Position the navbar at the top of the page */
			width: 100%; /* Full width */
			height: 50px;
			z-index: 99;
		}
		
		/* Links inside the navbar */
		.navbar a {
			float:right;
			display: block;
			position: relative;
			right: 100px;
			color:cornflowerblue;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		
		/* Logo inside the navbar */
		.navbar h2 {
			float:left;
			display: block;
			left: 40px;
			top: -10px;
			position: relative;
			color:grey;
			text-align: center;
			text-decoration: none;
		}
		
		/* Change background on mouse-over */
		.navbar a:hover {
			background: #ddd;
			color: black;
		}
		
		.main h1{
			margin-top: 100px;
		}
		
		.page1 {
			position: relative;
			top: 50px;
			height: 100%; /*947*/
			width: 100%;  /*1490*/
			background-image: url("../image/nature.jpeg");
			background-size: cover;
		}

		.page1 h1 {
			position: relative;
			top: 510px;
			left: 85px;
			margin: 0px;
			color: white;
		}

		.mailBoxContainer {
			position: relative;
			top: 550px;
			left: 85px;
		}

		.mailBox {
			position: absolute;
			height: 30px;
			width: 230px;
			font-size: 14px;
		}

		.mailBoxButton {
			position: absolute;
			left: 245px;
			height: 35px;
			width: 100px;
			border: none;
			background-color: aqua;
			color: black;
		}
		
		html, body {
				max-width: 100%;
				margin: 0;
				overflow-x: hidden;
				height:auto!important; /* for iphone */
		}