/* The navigation bar */
.navbar {
	overflow: hidden;
	background-color: white;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	height: 50px;
	z-index: 99;
}

.main h1{
	margin-top: 100px;
}

.page1 {
	height: 1050px;
	width: 100%;
	top: 50px;
	position: relative;
	background-size: 1500px;
	background-image: url("../image/nature.jpeg");
	background-repeat: no-repeat;	
}

.page2 {
	height: 850px;
	width: 100%;
	position: relative;
	background-size: 1500px;
	background-image: url("../image/silhuette.jpeg");
	background-repeat: no-repeat;
}

.page3 {
	height: 350px;
	width: 100%;
	position: relative;
}


.page4 {
	height: 1200px;
	width: 100%;
	position: relative;
	border: 1px solid black;

	background-repeat: no-repeat;
	background-size: 400px;

	background-image: 
	url("../image/snail.png"),	url("../image/snail.png"), 
	url("../image/snail.png"), 	url("../image/snail.png"), 
	url("../image/snail.png"), 	url("../image/snail.png");

	background-position: 
		top 50px left 50px,				top 50px left 500px,
		top 400px left 50px,			top 400px left 500px,
		top 400px left 950px,			top 750px left 500px;
}

.page5 {
	height: 800px;
	width: 100%;
	position: relative;
	background-color: rgb(38, 38, 38);
}

.page6 {
	height: 600px;
	width: 100%;
	position: relative;
	background-color: aliceblue;
}

/* Links inside the navbar */
.navbar a {
	float:right;
	display: block;
	position: relative;
	right: 100px;
	color:cornflowerblue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Logo inside the navbar */
.navbar h2 {
	float:left;
	display: block;
	left: 40px;
	top: -10px;
	position: relative;
	color:grey;
	text-align: center;
	text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
	background: #ddd;
	color: black;
}


.page2 h5{
	top: 150px;
	left: 150px;
	position: absolute;
	font: "Sans-serif";
	font-size: xx-large;
	font-weight: bold;
}

.page2 p{
	width: 500px;
	top: 250px;
	left: 150px;
	line-height: 1.8;
	position: absolute;
	font-size: large;
	font-weight: bold;
}

.page3 .infoBox1{
	position: absolute;
	left: 0px;
	height: 350px;
	width: 225px;
	background-color: blue;
}

.page3 .infoBox1 h2{
	top: 0px;
	left: 25px;
	position: absolute;
	font: "Sans-serif";
	font-size: xx-large;
	font-weight: bold;
	color: white;
}

.page3 .infoBox1 p{
	position: absolute;
	width: 200px;
	top: 75px;
	left: 25px;
}

.page3 .infoBox1 button{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 75%;
	left: 10%;
	font-size: xx-large;
	mix-blend-mode: screen;
	border-radius: 50%;
	padding: 0;
	border: none; /* remove line to add button animation */
}

.page3 .infoBox2{
	position: absolute;
	left: 225px;
	height: 350px;
	width: 225px;
	background-color: red;
}

.page3 .infoBox2 h2{
	top: 0px;
	left: 25px;
	position: absolute;
	font: "Sans-serif";
	font-size: xx-large;
	font-weight: bold;
	color: white;
}

.page3 .infoBox2 p{
	position: absolute;
	width: 200px;
	top: 75px;
	left: 25px;
}

.page3 .infoBox2 button{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 75%;
	left: 10%;
	font-size: xx-large;
	mix-blend-mode: screen;
	border-radius: 50%;
	padding: 0;
	border: none; /* remove line to add button animation */
}

.page3 .infoBox3{
	position: absolute;
	left: 450px;
	height: 350px;
	width: 225px;
	background-color: green;
}

.page3 .infoBox3 h2{
	top: 0px;
	left: 25px;
	position: absolute;
	font: "Sans-serif";
	font-size: xx-large;
	font-weight: bold;
	color: white;
}

.page3 .infoBox3 p{
	position: absolute;
	width: 200px;
	top: 75px;
	left: 25px;
}

.page3 .infoBox3 button{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 75%;
	left: 10%;
	font-size: xx-large;
	mix-blend-mode: screen;
	border-radius: 50%;
	padding: 0;
	border: none; /* remove line to add button animation */
}

.page3 .infoBox4{
	position: absolute;
	left: 675px;
	height: 350px;
	width: 225px;
	background-color: pink;
}

.page3 .infoBox4 h2{
	top: 0px;
	left: 25px;
	position: absolute;
	font: "Sans-serif";
	font-size: xx-large;
	font-weight: bold;
	color: white;
}

.page3 .infoBox4 p{
	position: absolute;
	width: 200px;
	top: 75px;
	left: 25px;
}

.page3 .infoBox4 button{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 75%;
	left: 10%;
	font-size: xx-large;
	mix-blend-mode: screen;
	border-radius: 50%;
	padding: 0;
	border: none; /* remove line to add button animation */
}

.page4 h2{
	position: absolute;
	left: 100px;
	top: 750px;
	height: 350px;
	width: 225px;
}

.page4 p{
	position: absolute;
	left: 100px;
	top: 800px;
	height: 350px;
	width: 225px;
	font: "Sans-serif";
	font-size: large;
}

.page5 img{
	position: absolute;
  left: 40%;
	top: 40%;
}

.page5 h2{
	position: absolute;
	left: 45%;
	top: 63%;
	color: white;
	font: "Sans-serif";
}

.page5 p{
	position: absolute;
	left: 40%;
	top: 68%;
	color: white;
	font: "Sans-serif";
}

.page6 .location {
	position: absolute;
	height: 500px;
	width: 300px;
	top: 15%;
	left: 10%;
}
.page6 .location h2{
	position: absolute;
}

.page6 .location p{
	position: absolute;
	top: 10%;
}

.page6 .followUs {
	position: absolute;
	height: 800px;
	width: 200px;
	top: 45%;
	left: 10%;
}

.page6 .followUs h2{
	position: absolute;
}

.page6 .followUs .fa {
	position: absolute;
	height: 25px;
	width: 25px;
	top: 7.5%;
	border-radius: 50%;        
	display:inline-block;
	text-align:center;
	line-height: 25px;
	text-decoration: none;
}

.page6 .followUs .fa-facebook {
	background: #3B5998;
  color: white;
	font-family: 'Klavika';
}

.fa:hover {
	opacity: 0.7;
}

.page6 .followUs h5{
	position: absolute;
	top: 10%;
}

.page6 .youtube-link{
	position: relative;
	display: inline-block;
	width: 25px;
	height: 25px;
	top: 7.5%;
	left: 17%;
}

.page6 .youtube-link img{
	position: absolute;
	width: 25px;
	height: 25px;
}

.page6 .youtube-link:hover{
	opacity: 0.7;
}

.page6 .contactForm {
	position: relative;
	top: 15%;
	left: 50%;
}

.page6 .contactForm .formInput{
	background-color: white;
	width: 350px;
	height: 30px;
	border: none;
}

.page6 .contactForm #email{
	position: absolute;
	top: 100px;
	left: 0px;
}

.page6 .contactForm #message{
	position: absolute;
	top: 150px;
	left: 0px;
	height: 100px;
}
.page6 .contactForm #submit{
	position: absolute;
	top: 275px;
	left: 0px;
	width: 75px;
	height: 30px;
	border: 1px solid black;
	mix-blend-mode: color-burn;
	color:darkviolet
}

.page6 .contactForm #submit:hover{
	opacity: 0.7;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
	height:auto!important; /* for iphone */
}

button{
	/*disable selecting*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}